bind_address = "0.0.0.0:9999"
public_url = "http://localhost:9999"
# How many jobs can be in the queue at most
job_queue_size = 10
log_directory = "logs"

[github]
bot_name = "ixy-ci"
api_token = "INSERT_HERE"

# Names are case-sensitive
[github.webhook_secrets]
# "emmericp/ixy" = "redacted"
# "ixy-languages/ixy.rs" = "redacted"

[openstack]
# VM flavor to be used
flavor ="m1.medium"
# VM base image to be used
image ="debian-10-openstack-amd64"
# SSH login name for the selected base image
ssh_login = "debian"
# Network which has access to the Internet (for fetching code etc.)
internet_network = "test"
# Pool from which floating IPs will be allocated for the spawned VMs
floating_ip_pool = "external"
# SSH keypair to be used
keypair ="ixy-ci"
# Path to the private key corresponding to the selected keypair
private_key_path ="/home/ixy-ci/.ssh/id_rsa"

# Exported from OpenStack (except project domain which must be queried manually)
auth_url = "http://10.20.20.1:5000/v3/"
user_name = "admin"
user_domain = "Default"
password = "INSERT_HERE"
project_name = "admin"
project_domain = "Default"

[test]
# How many packets are captured for the test
packets = 500_000

# PCI addresses of the VirtIO NICs
[test.pci_addresses]
pktgen = "0000:00:08.0"
fwd_src = "0000:00:08.0"
fwd_dst = "0000:00:09.0"
pcap = "0000:00:08.0"
